<h1 class="mb-4"></h1>

<%= simple_form_for @pool, html: { class: 'row g-3' } do |form| %>
  <div class="col-md-6">
    <%= form.input :price, label: 'Prix (en €)', input_html: { step: '0.01', min: 0 }, class: 'form-control' %>
    <%= form.input :length, label: 'Longueur (m)', input_html: { step: '0.01', min: 0 }, class: 'form-control' %>
    <%= form.input :width, label: 'Largeur (m)', input_html: { step: '0.01', min: 0 }, class: 'form-control' %>
    <%= form.input :depth, label: 'Profondeur (m)', input_html: { step: '0.01', min: 0 }, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= form.input :address, label: 'Adresse', as: :text, class: 'form-control' %>
    <%= form.input :description, label: 'Description', as: :text, class: 'form-control' %>
    <%= form.input :shape, label: 'Forme', class: 'form-control' %>
    <%= form.input :facilities, label: 'Équipements', as: :text, class: 'form-control' %>
    <%= form.input :photo, as: :file %>
  </div>

  <div class="col-12 mt-3 form-actions">
    <%= form.button :submit, 'accepter', class: 'btn btn-primary' %>
    <%= link_to "Annuler", pools_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>
