<h1>Liste des piscines</h1>

<% @pools.each do |pool| %>
  <div class="card">
    <%= image_tag pool.photo, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= pool.address %></h5>
      <p class="card-text"><%= pool.description %></p>
      <p class="card-text"><strong>Price:</strong> <%= pool.price %> €</p>
      <%= link_to "Edit", edit_pool_path(pool), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

