<h1>Détails de la piscine</h1>

<div class="row g-3">
  <div class="col-md-6">
    <strong>Propriétaire :</strong> <%= @pool.user.user_name %><br>
  </div>
  <div class="col-md-6">
    <label for="pool_photo">Photo</label>
  </div>


  <div class="col-12 mt-3">
    <strong>Adresse :</strong> <%= @pool.address %><br>
    <strong>Prix :</strong> <%= @pool.price %> €<br>

  </div>

  <div class="col-12 mt-3">
  raise
  <% if @pool.user_id == current_user.id %>
      <%= link_to "Supprimer la piscine", pool_path(@pool), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary"%>
      <%= link_to "Modifier cette piscine", edit_pool_path(@pool), class: "btn btn-primary" %>
<% else %>
    <% end %>
    <%= link_to "New reservation", new_pool_reservation_path(@pool), class: "btn btn-primary" %>
    <%= link_to "Retour à la liste des piscines", pools_path, class: 'btn btn-primary' %>
  </div>

    <div class="col-12 mt-3">
        <% if Reservation.where(pool_id: @pool.id) %>
         <h3>This pool has currently </h3>
        <ul>
          <% @pool.reservations.each do |reservation| %>
            <li><%= link_to "Reservation on #{reservation.start_date}", reservation_path(reservation) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There is no reservations. Why not <%= link_to 'book one', pools_path, class: "btn btn-primary" %> now?</p>
      <% end %>
    </div>

</div>
