<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Air PnP2.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          <%# </li> %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-bars fa-2xl"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Accueil", root_path, class: "dropdown-item"  %>
              <%= link_to "Liste des piscines", pools_path, class: "dropdown-item"  %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <li class="nav-item active">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
            <%= link_to "Liste des piscines", pools_path, class: "nav-link" %>
            </li>
            .<li class="nav-item active">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
            </li>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
