<% if current_user.nil? %>
  <!-- If the user is not logged in -->
  <p>Welcome! Please <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Log In', new_user_session_path %> to get started.</p>
<% else %>
  <!-- If the user is logged in -->
  <h2>Welcome back, <%= current_user.user_name %>!</h2>

  <% if current_user.pools.any? %>
    <h3>Your Pools:</h3>
    <ul>
      <% current_user.pools.each do |pool| %>
        <li><%= link_to pool.address, pool_path(pool) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user.reservations.any? %>
    <h3>Your Reservations:</h3>
    <ul>
      <% current_user.reservations.each do |reservation| %>
        <li><%= link_to "Reservation for #{reservation.pool.address} on #{reservation.start_date}", reservation_path(reservation) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>You have no reservations. Why not <%= link_to 'book one', root_path %> now?</p>
  <% end %>

<% end %>
