<h1>Détails de la réservation</h1>

<strong>Adresse :</strong> <%= @reservation.pool.address %><br>
<strong>Prix :</strong> <%= @reservation.pool.price %> €<br>
<strong>Date de reservation :</strong> <%= @reservation.start_date %> <br>
<!-- Ajoutez d'autres informations que vous souhaitez afficher -->


<%= link_to "Modifier cette reservation", edit_pool_reservation_path(@reservation) %>

<%= link_to "supprimer la reservation",
  reservation_path(@reservation),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
