<div class="text-center">
  <h1 class="mb-4">Détails de la réservation</h1>
</div>

<div class="card">
  <%= cl_image_tag @reservation.pool.photo.key, class: "card-img-top", crop: :fill, width: 300, height: 200 %>
  <div class="card-body">
    <h5 class="card-title"><%= @reservation.pool.address %></h5>
    <p class="card-text"><strong>Prix :</strong> <%= @reservation.pool.price %> €</p>
    <p class="card-text"><strong>Date de réservation :</strong> <%= @reservation.start_date %></p>

    <%= link_to "Modifier cette réservation", edit_pool_reservation_path(@reservation), class: "btn btn-primary" %>
    <%= link_to "Supprimer la réservation",
      reservation_path(@reservation),
      data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" },
      class: "btn btn-primary"
    %>
  </div>
</div>
